<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %}
    <title>Document</title>
    {% endblock %}

    <style>
        body{
            background-color:white;
        }
        nav .user{
            padding: 10px;
            text-decoration: none;
            color:aqua;
            display:inline-flex;
            margin-left:10%;
            justify-content: center;        

        }
        #a,b{
            color: blue !important;
            display: flex !important;
            justify-content:center !important;
        }
        b{
            color:violet !important;
        }
    </style>
</head>
<body>
   <nav>
    <a href="{% url 'home' %}" class="user">Home</a>
   
    {% if user.is_authenticated %}
    <a href="{% url 'User_logout' %}" class="user">Logout</a>
    {% else %}
    <a href="{% url 'registration' %}" class="user">Registration</a>
    <a href="{% url 'User_login' %}" class="user">Login</a>
    
    {% endif %}

    <a href="" class="user">Help</a>
   </nav>
   {% block body_block %}
    {% endblock %}
</body>
</html>