{% extends 'dummy.html' %}

{% block title %}
<title>Login Page</title>
{% endblock %}

{% block body_block %}
<h1 style="align-content: center; text-align:center;">Login page</h1>

<form method="POST" style="text-align:center">
    {% csrf_token %}
    <label for="username">username</label>
    <input type="text" name="username" id="username"><br><br>
    <label for="password">Enter password</label>
    <input type="password" name="password" id="password"><br><br>

    <input type="submit" value="Login">
</form>
{% endblock %}